:root {
	--color--grey: #F7F7F7;
	--color--red: #E40713;
	--color--white: #FFFFFF;
	--color--almost-white: #FAFAFA;
	--color--primary-blue: #14315A;
	--color--text-blue: #687B95;
	--color--dark-blue: #3F51B5;
	--color--dark-grey: #ADADAD;
}
