/**
 * The following styles get applied inside the editor only.
 *
 * Replace them with your own styles or remove the file completely.
 */

.digisar-date-popover .components-datetime__time,
.digisar-date-popover .components-datetime__date {
	padding: 16px;
}

.digisar__event-location {
	display: flex;
	flex-wrap: wrap;
	list-style-type: none;
	margin: 0;
	padding: 0;

	& li:not(:first-child) {
		padding-left: 8px;
	}

	& li:not(:last-child):after {
		content: ",";
	}
}
